table {
    width:100%;
}

td {
    width: 1%;
    height: 10px;
}

h2 {
    text-align: center;
    font-size: 0.8vw;
}

p {
    margin: 2px;
    font-size: 0.8vw;
}

.wrapper {
    margin: 0 auto;
    width: 80%;
}

.title {
    text-align: center;
    font-size:1vw;
}

.photo {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.photo__img {
    width: 100%;
    height: 100%;
}

.weight {
    text-align: right;
}

.number {
    text-align: left;
}

.diatomic_nonmetal {
    background-color: #01b6bc;
}

.noble_gas {
    background-color: #319090;
}

.alkali_metal {
    background-color: #1d66c9;
}

.alkaline_earth_metal {
    background-color: #a065a0;
}

.lanthanide {
    background-color: #a065a0;
}

.actinide {
    background-color: #562f56;
}

.metalloid {
    background-color: #f6b658;
}

.diatomic_nonmetal {
    background-color: #58cf6d;
}

.polyatomic_nonmetal {
    background-color: #01b6bc;
}

.post_transition_metal {
    background-color: #f46c4a;
}

.transition_metal {
    background-color: #f53a50;
}

.unknown_chemical_properties {
    background-color: #859898;
}

td.unknown_chemical_properties:hover, td.transition_metal:hover, td.post_transition_metal:hover,
td.polyatomic_nonmetal:hover, td.diatomic_nonmetal:hover, td.metalloid:hover,td.actinide:hover,
td.lanthanide:hover, td.alkaline_earth_metal:hover, td.alkali_metal:hover, td.noble_gas:hover,
td.diatomic_nonmetal:hover {
    background-color: pink;
}